@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap'); /* Font adquirida no Google Font */

*{ /* significa todas as tags */ 
    margin: 0px;
    padding: 0px;

    font-family: "Jost";

}

.app-header { /* ALT + SHIFT + A */

    /* Estilização aqui dentro */
    height: 80px;

    display: flex; /* Muda a orientação para tornar os elementos horizontal ou lado-a-lado */
    align-items: center; /* Deixa o texto alinhado verticalmente */
    justify-content: space-between; /* Joga os elementos para os cantos, um pra cada lado */
    padding-left: 80px; /* distancia de margem a esquerda */
    padding-right: 80px; /* distancia de margem a direita */
    /* margin-left: 80px; */

    box-shadow: 0px 2px 4px #464646;

}

.links a {

    font-size: 25px;
    text-decoration: none;
    color: #464646;
    padding-left: 35px;
    
}